<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Auth{% endblock %}</title>
    {{ css(asset('auth.css')) }}
</head>
<body>

{% block body %}
{% endblock %}

</body>
</html>
