{% extends 'auth/layout.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<form action="" method="post" id="loginForm">
<fieldset>
    <legend>Login</legend>

    <p><label>ID</label></p>
    <p><input type="text" name="account_id" value="" placeholder="ID" /></p>

    <p><label>Password: </label></p>
    <p><input type="password" name="password" value="" placeholder="PW" /></p>

    <p><input type="submit" value="login" /></p>
</fieldset>
</form>
{% endblock %}
