<?php

return [
    'admin' => [
        'name' => 'Admin',
        'password' => 'admin',
        'role' => [ 'Admin' ]
    ],

    'test' => [
        'name' => 'Tester',
        'password' => 'test',
        'role' => [ 'Member' ]
    ],

    // Add your accounts!
];
