<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Prob{% endblock %}</title>
    {{ css(asset('admin/layout.css')) }}
</head>
<body>

<header>
    <div id="top">
        <h1><a href="{{ url('admin') }}">Prob admin page</a></h1>
    </div>

    <nav>
        <h2>Core configures</h2>
        <ul>
            <li>Site url</li>
            <li>Route paths</li>
            <li>Events</li>
            <li>View engines</li>
            <li>Parameter injections</li>
        </ul>

        <h2>Component configures</h2>
    </nav>
</header>

<section id="body">
{% block body %}{% endblock %}
</section>

</body>
</html>
